.content-heading {
  display: flex;
  font-size: 24px;
  padding-top: 10px;
  align-items: center;
  gap: 0.5rem;
  color: white;
  justify-content: start;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 910px) {
  .content-heading {
    font-size: 20px;
  }
}
