.content-heading {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding-top: 10px;
  color: blue;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 910px) {
  .content-heading {
    font-size: 20px;
  }
}
