.education-content {
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.education-content-heading {
  color: white;
  justify-content: start;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.content-container {
  width: 95%;
  height: 95%;
  margin-left: 2%;
}

.education-details {
  /* margin: 5%; */
  position: relative;
}

.education-details ul li::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 2px;
  background-color: #4fc3f7;
  top: 17px;
  transform: translateX(-30px);
}

.education-details ul li {
  transform: translateX(30px);
}

.education-details ul li::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 3px solid #4fc3f7;
  border-radius: 50%;
  top: 10px;
  transform: translate(50%, -50%);
  left: -49px;
}

.education-table {
  margin-left: 80px;
  margin-bottom: 10px;
}

.clg-title {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  color: white;
  /* text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white; */
}

.passed-out-year {
  font-size: "20px";
}

.education-table tr td {
  padding-right: 30px;
  /* font-size: 20px; */
  color: #e6eef3;
  font-size: clamp(0.95rem, 2vw, 1.05rem);
  font-weight: 400;
  line-height: 1.6;
}
.clg-title h5 {
  font-weight: bold;
}
@media screen and (max-width: 1110px) {
  .content-container {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .education-details {
    margin: 3%;
  }

  .clg-title h5 {
    font-weight: bold;
  }
  .education-table tr td {
    font-size: 18px;
  }
}
@media screen and (max-width: 910px) {
  .education-detail-section {
    margin-bottom: 10px;
  }
  .clg-title {
    flex-direction: column;
  }
  .clg-title h5 {
    font-size: 14px;
  }
  .passed-out-year {
    font-size: 14px;
  }
  .education-table {
    margin: auto;
  }
  .education-table tr td {
    font-size: 14px;
    padding-right: 10px;
  }
}
